#headerDiv {
    width: 100%;
    background-color: grey;
    color:white;
    text-align: center;
    padding: .05%;
    font-family: sans-serif;
}

#employees-information {
    background-color: rgb(188, 178, 178);
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

