#headerDiv {
    width: 100%;
    background-color: grey;
    color:white;
    text-align: center;
    padding: .05%;
    font-family: sans-serif;
}
	#employees-information {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    background-color: rgb(209, 208, 208)
    
    }
table {
    width: 75%;
}

table, tr, th, td {
    border: 1px solid #1d3557;
    border-collapse: collapse;
}

#delete-button {
    font-family: sans-serif;
    color: #1d3557;
    background-color: #a8dadc;
    border: 0px solid;
    transition-duration: 0.4s;
    padding: 5px;
    margin: 5px;
}

th {
    padding: 1%;
    width: 100px; 
}

.total-monthly{
    text-align: right;
    margin-right:  375px;
}